# resource "aws_db_instance" "postgres" {
#   allocated_storage    = 20
#   engine               = "postgres"
#   engine_version       = "9.5.4"
#   instance_class       = "db.t2.small"
#   identifier           = "${var.appname}-${var.prefix}"
#   name                 = "${var.appname}_${var.prefix}"
#   username             = "postgres"
#   password             = "${var.db_password}"
#   parameter_group_name = "default.postgres9.5"
#   option_group_name    = "default:postgres-9-5"
#   auto_minor_version_upgrade = true
#   allow_major_version_upgrade = false
#   publicly_accessible  = false
#   multi_az             = "${var.db_multi_az}"
#   maintenance_window   = "mon:10:00-mon:11:00"
#   skip_final_snapshot  = false
#   final_snapshot_identifier = "snapshot-${var.appname}-${var.prefix}"
#   storage_type         = "gp2"
#   vpc_security_group_ids = [ "${aws_security_group.postgres.id}" ]
#   db_subnet_group_name = "${var.appname}-${var.prefix}-postgres"
#   backup_retention_period = "14"
#   backup_window        = "11:01-12:00"
#   storage_encrypted    = "true"
#   # iops
# }
#
# resource "aws_db_subnet_group" "postgres" {
#   name       = "${var.appname}-${var.prefix}-postgres"
#   subnet_ids = ["${var.db_subnet_ids}"]
# }
#
# resource "aws_security_group" "postgres" {
#   name        = "${var.appname}-${var.prefix}-postgres"
#   description = "Postgres access for ${var.appname}-${var.prefix}"
#   vpc_id      = "${var.db_vpc_id}"
#
#   ingress {
#     from_port   = 5432
#     to_port     = 5432
#     protocol    = "tcp"
#     cidr_blocks = ["${var.kube_cidrs}"]
#   }
# }
